#application-view {
  display:grid;
  justify-content:center;
  padding:50px;
}

#application-content {
  max-width:800px;
}

.empty-result,
.search-result {
  padding:5px;
  padding-bottom:25px;
}

.search-result a {
  text-decoration:underline #ababab;
  color:black;
}

.search-result a:hover {
  text-decoration:underline black;
  color:black;
}

.search-result-topic {
  padding-top:5px;
  padding-left:10px;
  font-size:10pt;
  color: #ababab;
}

.search-result-data {
  font-size:10pt;
  padding-top:5px;
  padding-left:10px;
}

.search-result-data span,
.paper-authors span {
  padding-right:5px;
}

.search-result-data span:not(:first-child)::before,
.paper-authors span:not(:first-child)::before {
  content:"•";
  padding-right: 5px;
}

#query-results[data-querying] {
  color:#ababab;
}

#entry-code {
  color:#ababab;
}

#new-discussion {
  border:none;
  font-weight:bold;
  font-size:12pt;
  cursor:pointer;
  color:#ababab;
  background:none;
  transition: color .5s ease;
}

#new-discussion:hover {
  color:black
}
