@import url('https://rsms.me/inter/inter.css');

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none;
}

html::-webkit-scrollbar { display: none; }

html * { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html * { font-family: 'Inter var', sans-serif; }
}

body { 
  margin:0px; 
  height:100vh;
}

@keyframes reverse-pulse-color{
  0% { color: white }
  50% { color: black }
  100% { color: white}
}

@keyframes pulse-opacity {
  0% { opacity:1 }
  50% { opacity:.2 }
  100% { opacity:1 }
}

@keyframes pulse-opacity {
  0% { opacity:1 }
  50% { opacity:.2 }
  100% { opacity:1 }
}

@keyframes pulse-half-opacity {
  0% { opacity:.5 }
  50% { opacity:.2 }
  100% { opacity:.5 }
}

@keyframes pulse-color {
  0% { background-color: white; }
  50% { background-color: var(--user_light); }
  100% { background-color: white; }
}

.styled-button {
  cursor:pointer;
  outline:none;
  border:2px solid black;
  padding:2px 4px 2px 4px;
  color:black;
  font-weight:bold;
  background-color:white;
  user-select:none;
}

.styled-button:disabled {
  color:#555555;
  border:2px solid #555555;
  cursor:not-allowed;
}

.styled-button:focus {
  border:3px solid black;
  padding:1px 3px 1px 3px;
}

.styled-input {
  font-size:10pt;
  padding:7px;
  border:none;
  background:#ededed;
  outline-offset: -2px;
}

button[data-current-button]{
  color:white;
  background:black;
}

.small-icon {
  height: 20px;
  width: 20px;
  border:none;
  background:none;
  padding:0px;
}

button.small-icon { cursor:pointer }

.small-icon-badge {
  background:black;
  position:relative;
  bottom:10px;
  display:inline-flex;
  align-items: center;
  justify-content: space-around;
  color:white;
  font-size:8pt;
  font-weight:bold;
  min-width:18px;
  height:18px;
  border-radius:10px;
}

.small-icon-badge > span {
  margin-left:3px;
  margin-right:3px;
}

.small-icon > svg {
  height: 20px;
  width: 20px;
}
