.paper-search-nav-button {
  border:none;
  font-size:15pt;
  cursor:pointer;
  background:none;
  transition: font-weight .1s ease;
}


.paper-search-nav-button > svg { 
  height:16px; 
  vertical-align:middle;
  transition: stroke-width .1s ease;
}

.paper-search-nav-button:hover > svg { 
  stroke-width:4px;
}

.paper-search-nav-button:hover  { 
  font-weight:bold;
}

.paper-search-nav-button[disabled] {
  cursor:auto;
  font-weight:unset;
}

.paper-search-title {
  text-decoration:underline;
  cursor:pointer;
}

.paper-search-title:hover {
  text-decoration-thickness:2px;
}

.paper-search-creators {
  margin:0px 0px 10px 10px;
}

.paper-search-creator {
  font-size:10pt;
  font-weight:bold;
  padding-left:10px;
}


.paper-search-creator:first-child {
  padding-left:0px;
}

.application-form {
  display: grid;
  grid-template-columns:160px 1fr;
}

.application-form button,
.application-form label {
  max-width:150px;
  grid-column: 1/2;
  margin:5px 5px 0px 0px;
  padding: 5px 5px 5px 5px;
}

.application-form textarea,
.application-form input{
  margin:5px 0px 10px 0px;
  padding: 5px 5px 5px 5px;
  grid-column: 1/3;
  border:none;
  background:#eeeeee;
}

@media (min-width:500px) {
  .application-form textarea,
  .application-form input {
    grid-column: 2/3;
  }
}

span.paper-search-creator:not(:first-child)::before {
  content:"•";
  padding-right: 10px;
}
